body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 950px;
    height: 100%;
    margin: 100px auto;

}

.wrapper{
    width: 100%;
    height: 300px;
    background-color: #ffeb3ba1;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 50px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Ubuntu', sans-serif;
}

.screen{
    border: 1px solid black;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    padding: 20px;
    resize: none;
    border-radius: 15px;
    box-shadow: 4px 0px 5px #71c9f0 inset, -4px 0px 5px #bfeef4 inset;
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
}

.button-small,
.button-middle,
.button-big,
.button-whitespace{
    cursor: pointer;
    border-radius: 5px;
    background-color: #cccccc;
}

.button-small{
    width: 50px;
    height: 50px;
}

.button-middle{
    width: 70px;
    height: 50px;
}

.button-big{
    width: 120px;
    height: 50px;
}

.button-whitespace{
    width: 405px;
    height: 50px;
}

.click-effect{
    background-color:#facd78;
    box-shadow: 0px 0px 10px #f6732f inset;
    transition: .075s;
    border-radius: 20px;
}

.to-upper-case{
    text-transform: uppercase;
}

.info{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
